{%extends 'layout.html' %}
{% block body %}
<div class="jumbotron jumbotron-fluid" >
    <div class="container">
<h1 class="display-4">This is my First Flask App</h1>
<p class="lead">Lorem ipsum dolor sit 
    amet consectetur adipisicing elit.
     Soluta maiores nobis earum, 
     necessitatibus eveniet laudantium ea
      optio modi. Praesentium cupiditate 
      explicabo quisquam sequi minima facere iure
       laborum maiores, voluptatibus reprehenderit?</p>
       </div>
</div>
{% endblock %}


